#grid {
    display: grid;
    border: solid black 2px;
    height: 700px;
    width: 700px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    font-weight: 50px;
}

.color-box{
    background-color: black;
}
