* {
    border: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFF4E4;
} 

#grid {
    display: grid;
    border: solid black 2px;
    height: 700px;
    width: 700px;
}

.main {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.black-box{
    background-color: black;
}

#button-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 7px #999;
    background-color: white;
}

#reset {
   border-color: #f44336; 
   color: red;
}

#reset:hover {
    background-color: #f44336;
    color: white;
}

#reset:active {
    background-color: #f44336;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#rainbow {
    color: green;
    border-color: green;
}

#rainbow:hover {
    color: white;
    background-color: green;
}

#rainbow:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



/* Need to adjust centering on button layout and grid in relation to header 